*~
*.RData
.RData
.Rhistory
/classificações_publicadas_todas_as_areas_avaliacao1503422094817-1.csv
/Scopus_Source_List.xlsx
/Scopus_Source_List.ods
/scimagojr 2016.xlsx
/qualis_13_16.ods
/DOAJ_ journals added and removed.ods
/MGR